{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'courses/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'courses/Top.png' %}">


	{% if title %}
		<title>Blog - {{ title }}</title>
	{% else %}
		<title>Blog</title>
	{% endif %}
</head>
<body class="welcome">
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-light bg-steel fixed-top">
	    <div class="container">
	      <b><i><a style = 'color: black' class="navbar-brand mr-4" href="{% url 'courses-home' %}">Blog</a></i></b>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{% url 'courses-home' %}">All Posts</a>
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	          {% if user.is_authenticated %}
	          	  <a class="nav-item nav-link" href="{% url 'myclasses' %}">My Posts</a>
	          	  <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
	          	  <a class="nav-item nav-link" href="{% url 'profile' %}">&nbsp &nbsp &nbsp &nbsp Profile</a>
	          	  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>	
	          {% else %}
	          	  <a class="nav-item nav-link" href="{% url 'courses-first' %}">Welcome</a>
		          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
		          <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
		      {% endif %}
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>
	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<div>
		<button class="welcomebtn" onclick="window.location.href='register'"><i><b>Sign Up</b></i></button>
	</div>
	<div>
		<button class="welcomebtn" onclick="window.location.href='login'"><i><b>Login</b></i></button>
	</div>
</html>