{% extends 'courses/base.html' %}
{% block content%}
  <form method = 'GET' action='' class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search for Courses" >
      <input class="search btn-outline-success my-2 my-sm-0" type="submit" value="Search" >
    </form>
	<hr color = 'white'>
	{% for post in posts%}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a href="{% url 'user-posts' post.author.username %}" style='color:blue' class="mr-2">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date_posted | date:"n/j/Y" }}</small>
		    </div>
		    <div>
			    <h1><a class="article-title" title="Click To View Full Post" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h1>
			    <br>
			    <p class="article-content">{{ post.description }}</p>
			    <p class="article-content">{{ post.price }} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Contact Info: <a title= 'Click To Email' href = "mailto:{{ post.author.email }}" style=" text-decoration:none;">{{ post.author.email }}</a>
			</div>
		  </div>
		</article>
	{% endfor %}
  <hr color= "white">
	{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a style="text-decoration: none;"class="pagebtn mb-4" href="?page=1">First</a>
        <a class="pagebtn mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="pagebtn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="pagebtn mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="pagebtn mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="pagebtn mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
    <br>
    <br>
{% endblock content %}
