{% extends 'courses/base.html' %}
{% block content%}
<h1>{{ user.username }}'s Posts</h1>
<hr>
{% for post in user_posts %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted | date:"n/j/Y" }}</small>
    </div>
    <div>
      <h1><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h1>
        <br>
        <p class="article-content">{{ post.description }}</p>
        <img src ="{{ post.image }}" />
        <img src ="{{ post.image2 }}" />
        <img src ="{{ post.image3 }}" />
        <p class="article-content">{{ post.price }} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Contact Info: <a href = "mailto:{{ post.author.email }}" style=" text-decoration:none;">{{ post.author.email }}</a><small class="text-muted"> &nbsp &nbsp &nbsp &nbsp <-- click to contact</small></p> 
    </div>
  </div>
</article>
{% endfor %}
{% endblock content %}